.btn-bg-1-wrapper {
  text-align: center;
  cursor: pointer;

  width: 10rem;
  font-size: 0.8rem;

  position: relative;
}

.btn-bg-1 {
  cursor: pointer;
  width: 100%;

}

.btn-bg-1-text {
  position: absolute;

  left: 0%;
  right: 0%;

  top: 0%;
  bottom: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;


  cursor: pointer;
}
