#localVideo{
    width: 100%;
    background: #2F2E41;
}

#remoteVideo{
    width: 100%;
    background: #2F2E41;
}

.chatWidgetInnerWrapper {
    background: white;
    margin: 20px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.msgBox {
    padding: 10px 0;
    /* background-color: #f1f1f1;  */
    flex: 1;
    overflow: auto;
}

#inputBox {
    background: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(108,99,255,0.20) !important;
    border-radius: 5px !important;
}

.cameraArea {
    padding-bottom: 10px;
    border-bottom: 2px solid #F1F1F1;
}