#localVideo{
    width: 100%;
    /* visibility: hidden; */
    background: #2F2E41;
}

#remoteVideo{
    width: 100%;
    /* visibility: hidden; */
    background: #2F2E41;
}

.chatWidgetInnerWrapper {
    margin: 20px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.msgBox {
    background-color: white; 
    flex: 1;
    overflow: auto;
}