.footer {
    color: #031529;
}

.layout {
    min-height: "100vh";
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.chatWidgetWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: -1px 0 20px 0 rgba(47,46,65,0.20);

}

.cinemaWidgetWrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #F2EEFF;
}

input:hover, input:focus {
    border-color: #6C63FF !important;
}