#localVideo{
    width: 100%;
    /* height: 200px; */
    /* right: 0; */
    /* margin: 24px auto; */
    /* display: inline-block;
    border-radius: 4px; */
}
#remoteVideo{
    width: 100%;
    /* background: transparent; */
    /* margin: 0 auto; */
    /* display: block;
    max-width: 300px;
    height: 100%; */
}

.cameraArea {

}

.inputArea {
}

.msgBox {
    background-color: white; 
    flex: 1;
    overflow: auto;
}


.header, .footer {
    flex-grow: 1;
}

.footer {
    color: #031529;
}

.content {
    flex-grow: 2;
}
/* 
.content, .contenWrapper, .chatColumn {
    height: 100%; 
    min-height: 100%;
} */

.layout {
    min-height: "100vh";
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.chatCol {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.videoCol {
    flex: 6
}